.watchContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* LEFT SIDE */
.videoSection {
  flex: 3;
}

.videoSection iframe {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

/* RIGHT SIDE */
.recommended {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recCard {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.recCard img {
  width: 160px;
  border-radius: 8px;
}

.recCard h4 {
  font-size: 14px;
  margin: 0;
  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recCard p {
  font-size: 12px;
  color: gray;
}
