.sidebar {
  width: 200px;
  background-color: #181818;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.link:hover {
  background-color: #333;
}

.active {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
